:root {
  --accent: #00ACDC;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.img {
  width: 40px;
  height: 40px;
  padding-left: 50px;
  padding-top: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.list li {
  margin-right: 20px;
}

.list li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000;
  height: 60px;
  line-height: 60px;
  transition: all 0.3s ease;
  position: relative;
}

a:hover {
  color: var(--accent);;
}

a::after {
  border-radius: 8px;
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: var(--accent);;
  transition: all 0.3s ease;
}

a.is-active::after {
  width: 100%;
}

.nav {
  margin-left: auto;
  margin-right: 50px;
  align-items: center;
}
